# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/文档
/test
/待添加功能
/AEXModule/Release-MD/AEXModule.log
/AEXModule/Release-MD/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MD/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MD/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MDd/AEXModule.log
/AEXModule/Release-MDd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MDd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MDd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MT/AEXModule.log
/AEXModule/Release-MT/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MT/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MT/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MTd/AEXModule.log
/AEXModule/Release-MTd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MTd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MTd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MD/AEXModule.log
/AEXModule/x64/Release-MD/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MD/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MD/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MDd/AEXModule.log
/AEXModule/x64/Release-MDd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MDd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MDd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MT/AEXModule.log
/AEXModule/x64/Release-MT/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MT/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MT/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MTd/AEXModule.log
/AEXModule/x64/Release-MTd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MTd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MTd/AEXModule.tlog/Lib.command.1.tlog
/.gitignore
/.gitignore
/AEXModule/Release-MD/AEXModule.log
/AEXModule/Release-MD/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MD/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MD/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MDd/AEXModule.log
/AEXModule/Release-MDd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MDd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MDd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MD/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MD/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MD/AEXModule.log
/AEXModule/Release-MD/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MDd/AEXModule.log
/AEXModule/Release-MDd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MDd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MDd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MT/AEXModule.log
/AEXModule/Release-MT/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MT/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MT/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MD/AEXModule.log
/AEXModule/x64/Release-MD/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MD/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MD/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MDd/AEXModule.log
/AEXModule/x64/Release-MDd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MDd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MDd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MT/AEXModule.log
/AEXModule/x64/Release-MT/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MT/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MT/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/x64/Release-MTd/AEXModule.log
/AEXModule/x64/Release-MTd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/x64/Release-MTd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/x64/Release-MTd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/Release-MTd/AEXModule.log
/AEXModule/Release-MTd/AEXModule.tlog/AEXModule.lastbuildstate
/AEXModule/Release-MTd/AEXModule.tlog/CL.command.1.tlog
/AEXModule/Release-MTd/AEXModule.tlog/Lib.command.1.tlog
/AEXModule/libs/AEXModule_MD.pdb
/AEXModule/libs/AEXModule_MDd.pdb
/AEXModule/libs/AEXModule_MDd_64.pdb
/AEXModule/libs/AEXModule_MD_64.pdb
/AEXModule/libs/AEXModule_MT.pdb
/AEXModule/libs/AEXModule_MTd.pdb
/AEXModule/libs/AEXModule_MTd_64.pdb
/AEXModule/libs/AEXModule_MT_64.pdb
